<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InfinityDTHSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCustomerServlet</display-name>
    <servlet-name>AdminCustomerServlet</servlet-name>
    <servlet-class>com.controller.AdminCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCustomerServlet</servlet-name>
    <url-pattern>/admin/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditCustomerServlet</display-name>
    <servlet-name>AdminEditCustomerServlet</servlet-name>
    <servlet-class>com.controller.AdminEditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCustomerServlet</servlet-name>
    <url-pattern>/admin/edit/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRetailerServlet</display-name>
    <servlet-name>AdminRetailerServlet</servlet-name>
    <servlet-class>com.controller.AdminRetailerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRetailerServlet</servlet-name>
    <url-pattern>/admin/retailer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCustomerRegisterServlet</display-name>
    <servlet-name>AdminCustomerRegisterServlet</servlet-name>
    <servlet-class>com.controller.AdminCustomerRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCustomerRegisterServlet</servlet-name>
    <url-pattern>/admin/customer/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditOperatorServlet</display-name>
    <servlet-name>AdminEditOperatorServlet</servlet-name>
    <servlet-class>com.controller.AdminEditOperatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditOperatorServlet</servlet-name>
    <url-pattern>/admin/edit/operator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOperatorServlet</display-name>
    <servlet-name>AdminOperatorServlet</servlet-name>
    <servlet-class>com.controller.AdminOperatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOperatorServlet</servlet-name>
    <url-pattern>/admin/operator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorRetailerServlet</display-name>
    <servlet-name>OperatorRetailerServlet</servlet-name>
    <servlet-class>com.controller.OperatorRetailerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorRetailerServlet</servlet-name>
    <url-pattern>/operator/retailer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorEditRetailerServlet</display-name>
    <servlet-name>OperatorEditRetailerServlet</servlet-name>
    <servlet-class>com.controller.OperatorEditRetailerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorEditRetailerServlet</servlet-name>
    <url-pattern>/operator/edit/retailer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorEditCustomerServlet</display-name>
    <servlet-name>OperatorEditCustomerServlet</servlet-name>
    <servlet-class>com.controller.OperatorEditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorEditCustomerServlet</servlet-name>
    <url-pattern>/operator/edit/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorCustomerServlet</display-name>
    <servlet-name>OperatorCustomerServlet</servlet-name>
    <servlet-class>com.controller.OperatorCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorCustomerServlet</servlet-name>
    <url-pattern>/operator/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorRegistrationServlet</display-name>
    <servlet-name>OperatorRegistrationServlet</servlet-name>
    <servlet-class>com.controller.OperatorRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorRegistrationServlet</servlet-name>
    <url-pattern>/operator/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorCustomerRegisterServlet</display-name>
    <servlet-name>OperatorCustomerRegisterServlet</servlet-name>
    <servlet-class>com.controller.OperatorCustomerRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorCustomerRegisterServlet</servlet-name>
    <url-pattern>/operator/customer/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditRetailerServlet</display-name>
    <servlet-name>AdminEditRetailerServlet</servlet-name>
    <servlet-class>com.controller.AdminEditRetailerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditRetailerServlet</servlet-name>
    <url-pattern>/admin/edit/retailer</url-pattern>
  </servlet-mapping>
</web-app>